<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Tablero de Mensajes{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <header>
        <h1>Tablero de Mensajes</h1>
        <nav>
            <ul>
                <li><a href="{% url 'mensajes:crear_mensaje' %}">Crear Mensaje</a></li>
                <li><a href="{% url 'mensajes:ver_recibidos' %}">Ver Mensajes Recibidos</a></li>
                <li><a href="{% url 'mensajes:ver_enviados' %}">Ver Mensajes Enviados</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Tablero de Mensajes</p>
    </footer>
</body>
</html>
